@model CarBaseFinal.Models.CarModel

@{
    ViewData["Title"] = "Автосалон";
}


<form method="post" action="">
    <table>


            <tr>
                <td><p>TypeID:  </p></td>
                <td><input type="text" value="" name="TypeID" /> </td>
            </tr>

            <tr>
                <td><p>MarkID </p></td>
                <td><input type="text" value="" name="MarkID" /> </td>
            </tr>

            <tr>
                <td><p>Model</p></td>
                <td> <input type="text" value="" name="Model" />  </td>
            </tr>

            <tr>
                <td><p>Color</p></td>
                <td> <input type="text" value="" name="Color" /> </td>
            </tr>

            <tr>
                <td><p>Price</p></td>
                <td> <input type="text" value="" name="Price" /> </td>
            </tr>

            <tr>
                <td><input type="submit" value="Отправить" /> </td>
                <td></td>
            </tr>
        

    </table>
</form>
